*{
    box-sizing: border-box;
}

@font-face {
    font-family: quicksand;
    src: url(font/Quicksand-Regular.ttf);
}
@font-face {
    font-family: quicksand-bold;
    src: url(font/Quicksand-SemiBold.ttf);
}
html{
    font-family: quicksand;
    font-size: 15px;
    background-color: #f5f5f5;
}
body{
    margin: 0 auto;
    background-color: #f5f5f5;
}
main,footer{
    padding-left: 20px;
}
h1{
    color: rgb(22, 47, 92);
    font-size: 22px; 
    margin-bottom: 10px;
}
/*-----------------header---------------------*/
/*header text*/
.header__text {
	text-align: center;
	background-color: black;
	color: white;
    height: 20px;
}
.header__text a:hover{
	text-align: center;
	background-color: black;
	color: white;
}

.header__text a:visited{
	text-align: center;
	background-color: black;
	color: white;
}
.header__text a:link{
	text-align: center;
	background-color: black;
	color: white;
}

/*header__menu*/
.header__container {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	background-color:#FFFFFF;
    opacity: 0.97;
    width: 100vw;
	height: 45px;
    justify-content:space-around;
    text-align: center;
    color: #1067aa;
}

.header_fixed{
    position: fixed;
    top:0;
    z-index:1000;
}
.header__logo img{
    width: 200px;
	height: 45px;
    align-items: center;
}
.header__menu--items {
	text-decoration: none;
	margin-left: 20px;
	color: 	#858585;
    font-weight: bold;
}
.header__menu--list{
	list-style-type: none;
}

.header__menu{
	display: flex;
	margin-left: 40px ;
	margin-top: 12px;
}

.header__rightmenu{
	display: flex;
    justify-content: center;
    word-spacing: 2px;
    margin-top: 12px;
}

.header__rightmenu--list{
	list-style-type: none;
    padding-left: 10px;
}

.header__DK{
    font-family: quicksand;
	border: 1.5px solid black;
    background-color: #FFFFFF;
	border-radius: 15px;
	width: 90px;
	height: 30px;
    align-items: center;
	margin-top: -5px;
	margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
}

.header__DN{
    font-family: quicksand;
    text-decoration: none;
    border: 1px solid #2DA6D9;
	border-radius: 15px;
	width: 100px;
	height: 30px;
	background-color:#2DA6D9;
    color: #FFFFFF;
	margin-left: 2px;
	margin-top: -5px;
    font-size: 15px;
    cursor: pointer;
}
/*nen & thanh tim kiem*/
.search-bar{
    width: 100%;
    height: 600px;
    background-image: url("hinh anh/header/pexels-pixabay-33545.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.thanh-tim-kiem{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    margin: 0 auto;
    grid-gap: 0px;
    width: 80%;
    position: relative ;
    top:40%;
}
input[name="search"] {
    font-family: quicksand;
    font-size: 15px;
    width: 68vw;
    height: 50px;
    text-align:left;
    padding-left: 20px;
    padding-right: 0px;
    border: 1px solid #FEFEFE;
    background-color: #FEFEFE;
    border-radius: 10px 0px 0px 10px;
    outline:none;

}
button[name="search"]
{
    width: 50px;
    height: 50px;
    background-color: #40B4E5;
    color:white;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

/*Dia danh noi tieng*/

.diadanh_container{
    width: 96%;
    height:fit-content;
    display: grid;
    grid-template-columns: 1fr 25fr 1fr;
    border: 0px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    grid-gap:1px;
}
.diadanh_slide-gr{
    width: 100%;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 0;
    border: 0px;
    padding: 0px;
}
.diadanh_slides{
    width: 100%;
    font-size: 0;
    transition: all 0.5s ease;
}
.diadanh_slide{
    width: 120px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    
}
.left, .right{
    width: 40px;
    height: 40px;
    border: 1px #FBF6F6;
    border-radius: 35px;
}

.diadanh_content1, .diadanh_content2, .diadanh_content3, .diadanh_content4, .diadanh_content5,.diadanh_content6,.diadanh_content7{
    width: 250px;
    height: 300px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
}
.diadanh_slide p{
    text-shadow: 1px 1px #686868;
    
}
.diadanh_content1{
    background-image: url("hinh anh/body/image\ 67.png");
    background-size: 100% 100%;
}
.diadanh_content2{
    background-image: url("hinh anh/body/image\ 68.png");
    background-size: 100% 100%;
}
.diadanh_content3{
    background-image: url("hinh anh/body/image\ 69.png"); 
    background-size: 100% 100%;
}
.diadanh_content4{
    background-image: url("hinh anh/body/image\ 70.png");
    background-size: 100% 100%;
}
.diadanh_content5{
    background-image: url("hinh anh/body/image\ 71.png");
    background-size: 100% 100%;
}
.diadanh_content6{
    background-image: url("hinh anh/body/image\ 72.png");
    background-size: 100% 100%;
}
.diadanh_content7{
    background-image: url("hinh anh/body/image\ 73.png");
    background-size: 100% 100%;
}
button[name="show_all"]{
    font-family: quicksand;
    width: 200px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #706B6B;
    margin:10px;
    cursor: pointer;
    position: relative;
    left: 45%;
}
button[name="show_all"]:hover{
    background-color: #706B6B;
    color:white;
}
button[name="show_all"]:active{
    background-color: #706B6B;
    color:white;
}
/*Bai viet yeu thich nhat trong tuan*/
.postyt_container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:0px;
    width: 75%;
    height: 380px;
    padding-left: 3%;
    align-items: center;

}
.postyt_container img{
    grid-row: 1/6;
    grid-column: 1/2;
    border-radius: 10px;
    align-items: center;
}
.text-box {
    grid-row: 2/5;
    background-color: #E6EFF2;
    width: 50vw;
    height: 250px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
}
time{
    color:#787878;
}
.text-box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.link_postyt{
    grid-row:1/2;
    grid-column: 1/5;
    text-align: right;
    align-items: center;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 15px;
    color: #706B6B;
}
.postyt_title{
    grid-row: 2/3;
    grid-column: 1/5;
    font-size: 19px;
    font-weight: bold;
    color: #145B90 ;
}
.postyt_time{
    grid-row: 3/4;
    grid-column: 1/2;
}
.postyt_noidung{
    grid-row: 4/5;
    grid-column: 1/5;
}
/*Bo_loc*/
.bo_loc{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    width: 600px;
    align-items: center;
    justify-items: center;
    color: #145B90;
    font-family: quicksand-bold;
}
.bo_loc button{
    text-decoration: none;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-family: quicksand-bold;
    color: #8A8A8A;
    background-color: #FBFBFB;
    border-radius: 10px;
    border: 1px solid #BBBBBB;
    cursor: pointer; 
}
.bo_loc button:active,.bo_loc button:hover{
    background-color: #BBBBBB;
    color: #FFFFFF;
}
.bo_loc section{
    text-decoration: none;
    height: 35px;
    width: 110px;
    font-size: 15px; 
    
}
/*list tour*/
.item{
    display: grid;
    grid-template-columns: 6fr 1fr;
    width: 98%;
    margin-top: 10px;
    height: fit-content;
}
.post{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 3fr 0.5fr;
}
.post_img{
    grid-column: 1/2;
    grid-row:1/4;
    width: 100%;
    height: 100%;
}
.post_title{
    grid-column: 2/3;
    grid-row:1/2;
    padding-left: 15px;
}
.title_post{
    font-size: 18px;
    font-family: quicksand-bold;
    color: #145B90;
}
.post_noidung{
    grid-column: 2/3;
    grid-row: 2/4;
    width: 90%;
    padding-left: 15px;
}
.post svg{
    grid-row: 4/5;
    grid-column: 1/4;
    align-items: center;
}
.item aside{
    text-align: center;
}
.box_tour{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid #9e9b9b;
    width: fit-content;
    border-radius: 15px;
}
.box_tour_text{
    text-align: center;
    color:#145B90;
}
.box_tour_text .bold{
    font-family: quicksand-bold;
    font-weight: bold;
}
button[name="xem_ngay"]
{
    background-color: #FB9700;
    border: none;
    border-radius: 15px;
    color: white;
    width: 157px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
}
button[name="xemtiep"]
{
    background-color: #15507C;
    color: white;
    border: none;
    width: 195px;
    height: 43px;
    text-align: center;
    font-size: 15px;
    margin-left: 25%;
    
}
/*===========*/
/*rate*/
.rate {
    display: flex ;
    justify-content:space-around;
    font-size: 11px;
    width: 1000px;
    height: 150px;
    align-items: flex-start;
    margin: auto;
}
.rate div{
    flex: 1;
    max-width: 200px;
    text-align: center;
}
.rate .title{
    font-family: quicksand-bold;
}

/*nhapdeal*/
.nhapdeal{
    border-style: solid;
    border-width: 1px;
    border-radius: 13px;
    border-color: #b9b9b9;
    background-color:#FCFCFC;
    width: 71vw;
    height: 85px;
    position: relative;
    top: 2.4rem;
    margin:auto;
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    line-height: 1.5px;
    font-size: 15px;
    font-family: quicksand;
}
.nhapdeal img{
    float: left;
    margin-right: 0.3rem;
}
.nhapdeal .title{
    font-family: quicksand-bold;
    font-size: 17px;
    color: rgb(22, 47, 92); 
}
.nhapdeal input{
    float:inline-end;
    width: 17vw;
    height: 30px;
    border-radius: 7px;
    border-width: 0.5px;
    border-color: #bbbaba;
    background-color: #F2F2F2;
    font-size: medium;
    font-family: quicksand;
    text-align:center;
    margin-left: 1rem;
}
.nhapdeal button{
    float: inline-end;
    height: 30.5px;
    width: 95px;
    font-size: 18px;
    font-family: quicksand-bold;
    color: white;
    background-color: #329cc9;
    border-color: #40B4E5;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}
.nhapdeal button:active{
    text-decoration: none;
    border: 2px solid #20617e;
}
/*footer*/
footer{
    background-color: #E9E8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 12px;
    justify-content: center;
    padding-top: 2rem;
    color: rgb(22, 47, 92);
}
footer .title{
    font-family: quicksand-bold;
    font-size: 14.5px;
    color: rgb(22, 47, 92);
}
footer div{
    flex: 1;
}
footer div:nth-of-type(1)
{
    flex: 1.3;
}
footer div:nth-of-type(2), footer div:nth-of-type(3){
    padding-top: 3.7rem;
 }
footer .lienhe{
    display: flex;
    align-items: center;
}
.lienhe img{
    margin-right: 5px;
}
footer a{
    color: #2f96c2;
    text-decoration: none;
 }
 footer a img{
     margin-right: 0.5rem;
 }







 /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} */

main {
    margin-top: 70px;
    background-color: lightblue;
}

.link {
    padding-top: 20px;
}

.container {
    display: flex; 
    /* flex-wrap: wrap; */
}

.info {
    flex-grow: 2;
    padding: 2rem 2rem 1rem 2rem;
}

.customer, .tour, .voucher, .payment, .confirm, .services, .bill {
    padding: 2rem;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 2rem;
    min-width: 400px;
    margin-left: 2rem;
}

.tour {
    display: flex;
    /* flex-wrap: wrap; */
    
}

.descriptions span {
    border-right: .5px solid lightgray;
    padding: 0 0.5rem;
      
}

.table {
    margin-top: 2rem; 
    width: 300px;
    text-align: center;
}

.table th {
    font-weight: normal;
    font-size: 0.875rem;
}

.table th, td {
    border-right: 1.5px solid lightgray;
}

.image {
    width: 250px;
    height: 150px;  
    background-image: url(./images/89Ed9078d6332d6d7422.jpg);
    background-size: cover;
    border-radius: 30px;
    margin-right: 1.5rem;
}

.log-in {
    background-color: lightseagreen;
    border-radius: 30px;
    padding: 0.75rem;
    text-align: center;
    margin: 1rem 0;
}

label {
    font-size: 1.1rem;
    font-weight: 600;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#name, #mail {
    border: 0;
    border-bottom: 1px solid lightgray;
}

#phone {
    border-radius: 10px;
    background-color: lightgray;
}

.red {
    color: red;
}

.voucher {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

.add {
    background-color: blue; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 50%;

    
}

.method {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem 0 2rem;
    border-bottom: 1.5px solid lightgray;
}



input[type=radio] {
    border: 0px;
    width: 4rem;
    height: 1.5rem;
}

.confirm {
    position: relative;
}

.thanhtoan {
    padding: 1rem;
    border-radius: 30px;
    background-color: blue;
    color: white;
    border: 0;
    font-size: 1.3rem;
    position: relative;
    left: 75%;
    cursor: pointer;
}





.price-bill {
    flex-grow: 1;
    padding: 2rem 2rem 1rem 2rem;
}

.services p, .services span {
    font-size: 1.1rem;
}

.bold {
    font-weight: bold;
}

.center {
    color: blue;
    font-weight: 600;
    justify-content:center;
}

.prices {
    justify-content: space-between;
    padding: 0.5rem 0 0 0;
    border-bottom: 1.5px solid lightgray;

}

.noborder{ 
    border: 0;
}

.end {
    justify-content: end;
}

.gray {
    font-size: 1.1rem;
    color: gray;
    font-weight: 530;
}

.price {
    color: black;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 30px;
    position:relative;
    min-width: 400px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .voucher-info {
      display:flex;
      border-width: 1px;
      justify-content: space-between;
  }

  .voucher-info button {
      border-style: none;
      background-color: white; 
  }

  .voucher-info ul {
    list-style-type: none;
  }

  #voucher-input {
      border: 0;
      border-bottom: 1px solid gray;
      width: 100%;
  }

  #voucher-submit {
      padding : 0.7rem;
      background-color: blue;
      color: white;
      border: 0;
      font-size: 1.3rem;
      border-radius: 30px;
      position: absolute;
      left: 75%;
      top: 18%;
  }

  .voucher-info ul {
    border-right: 1px dashed gray;
    width: 70%;
  }

  .voucher-info button {
      text-align: center;
      width: 30%;
  }

  .voucher-info button b {
      color: blue;
  }

  .voucher-list {
      box-shadow: 0 5px 2px lightgray, -5px 0 blue;
  }


.use {
    cursor: pointer;
}




