{% extends 'pages/base.html' %}

{% load static %}

{% block title%}Sunsetious | Đặt vé di chuyển{% endblock %}

{% block linkcss%}
<link rel="stylesheet" type="text/css" href="dv_di_chuyen_style.css">
<link rel="stylesheet" href="{%static "css/owl.carousel.min.css" %}">
<link rel="stylesheet" href="{%static "css/owl.theme.default.min.css" %}">
{% endblock %}
{% block imgorsearch%}{% endblock %}
{% block main%}<section class="tour_root">
	
	<div class="tour_container">
		<div style="height: 400px;">
		<h1 class="title_h1">GIẢM GIÁ SỐC</h1>
			<div class="tour-content owl-carousel owl-theme" id="one">
				

					<div class="tour-content-item item">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item item">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

					<div class="tour-content-item item">
						<img src="area/dai-nam.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Khu du lịch Đại Nam</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>

						<div class="tour-content-item item">
						<img src="area/suoi-tien.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Khu du lịch suối tiên</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>					
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 400,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

						<div class="tour-content-item item">
						<img src="area/dam-sen.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Công viên văn hóa Đầm Sen</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 300,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>

						<div class="tour-content-item item">
						<img src="area/thao-cam-vien.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Tour tham quan Thảo Cầm Viên</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 1</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 230,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

						<div class="tour-content-item item">
						<img src="area/dinh-doc-lap.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Tour tham quan Dinh Độc Lập</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 1</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 150,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>		
</div>
					
</section>


<!-- Dịch vụ ăn uống -->
<section class="food_root">
	
	<div class="food_container">
		<div style="height: 400px;">
		<h1 class="title_h1">PHỔ BIẾN</h1>
			<div class="tour-content owl-carousel owl-theme" >
			
					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="area/ben-nha-rong.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bến Nhà Rồng - Di tích lịch sử</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="area/nha-tho-duc-ba.jpg" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Nhà thờ Đức Bà</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<img src="dia-diem.png" style="width: 19px; height: 17px; position: relative; bottom: 1px;">
							<p class="box2">Quận 6</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
								<div class="vote">
									<i class="fas fa-star" style="color: yellow; position: relative; bottom: 6px;"></i>
								<p style="position: relative; bottom: 6px;"> 4.5</p>
								</div>
								<div style="border-right: 1px solid;">
									<p style="padding: 5px; position: relative; bottom: 6px;">2,453 đánh giá</p>
								</div>
								<p style="padding: 5px; position: relative; bottom: 6px;">3N+ xem</p>
							</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; padding: 7px;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>		
</div>
					
</section>{% endblock %}
{% block linkjs %}{% endblock %}