@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Serif:ital,wght@1,700&family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	
}

html{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

}
.grid{
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.grid__full-width{
	width: 100%;

}

.grid__row{
	display: flex;
	flex-wrap: wrap;
}
body{
	background-color:  #CAE5E8;
	border: 1px;
	position: absolute;

}
main{
	background-color:  #CAE5E8;
	height: auto;
}

/*-----------------header---------------------*/
/*header text*/
.header__text {
	text-align: center;
	background-color: black;
	color: white;
}
.header__text a:hover{
	text-align: center;
	background-color: black;
	color: white;
}

.header__text a:visited{
	text-align: center;
	background-color: black;
	color: white;
}
.header__text a:link{
	text-align: center;
	background-color: black;
	color: white;
}

/*header__menu*/
.header__container {
	display: grid;
	grid-template-columns: 3fr 3fr 2fr;
	background-color: whitesmoke;
	height: 40px;
}
.header__logo img{
	height: 40px;
	margin-left: 80px;
}
.header__menu--items {
	text-decoration: none;
	margin-left: 20px;
	color: 	#AAAAAA;
}
.header__menu--items:hover{
	color: blue;
	background-color: whitesmoke;
}
.header__menu--list{
	list-style-type: none;
}

.header__menu{
	display: flex;
	margin-left: 40px ;
	margin-top: 10px;
}

.header__rightmenu{
	display: flex;
	margin-top: 8px;
	
}

.header__rightmenu--list{
	list-style-type: none;
	margin-left: 8px;
}

.header__DK{
	border: 1px solid black;
	border-radius: 15px;
	width: 70px;
	height: 30px;
	margin-top: -3px;
	margin-left: 8px;
}

.header__DN{
	border: 1px solid black;
	border-radius: 15px;
	width: 80px;
	height: 30px;
	background-color: #CAE5E8;
	margin-left: 5px;
	margin-top: -3px;
}

.header__DN, .header__DK:hover{
	cursor: pointer;
}

/*==============picture and slogan==============*/

.header_picture{
	height: 620px;
}
.header_picture-item{
	width: 100%;
	height: 600px;
}

.header_slogan{
	position: relative;
	bottom: 550px;
	text-align: center;
	color: white;
}

.header_h1{
	font-size: 60px;
	font-family: 'Bree Serif', serif;
}

/*form*/
.form__items{
	border-right: 1px solid;

}
.form__items p{
	text-align: center;
}
.form__edit{
	
	display: flex;
	bottom: 400px;
	position: relative;
	left: 400px;
	width: 800px;
	height: 50px;
	background-color: whitesmoke;
}
.title{
	text-align: center;
	position: relative;
	bottom: 550px;
}
.form_input{
	width: 200px;
	height: 30px;
	margin-left: 40px;
	border: none;

}

.form__button{
	width: 50px;
	height: 30px;
	background-color: #CAE5E8;
	position: relative;
	top: 20px;
}
/*==============================smallbar============================*/
.smallbar{
	width: 400px;
}
.smallbar ul {
	display: flex;
	position: relative;
	bottom: 450px;
	left: 300px;
	
	justify-content: space-between;

}
.smallbar ul li a{
	text-decoration: none;
	color: white;
}
.smallbar ul li {
	
	list-style-type: none;
}

/*tour giảm giá*/
.tour_root{
	background-color: #CAE5E8;
	width: 100%;
	height: 500px;
}

.tour_container{
	width: 1100px;
	height: 450px;
	border: 1px solid;
	position: relative;
	left: 200px;
	background-color: #FFF;
	border-radius: 13px;
}

.title_h1{
	position: relative;
	left:20px;
	top: 5px;
	font-size: 30px;
	color: #333333;
}

.tour-content{
	padding: 10px;
	margin-left: 20px;
}
/*định dạng từng khung trong thanh*/
.tour-content-item{
	position: relative;
	top: 6px;
	width: 270px;
	height: 330px;
	background-color: white;
	border: 1px solid;
	border-radius: 20px;
	margin: 10px;
	
}

.tour__modified_1{
	display: flex;
	position: relative;
	bottom: 205px;
	left: 170px;
	height: auto;
	width: auto;
}
.box1{
	padding: 5px;
	border: 1px solid;
	border-radius: 18px;
	font-size: 13px;
	position: relative;
	left: 7px;
	bottom: 7px;
	background-color: orange;
	border-color: orange;
}

.tour__modified_2{
	display: flex;
	position: relative;
	bottom: 235px;
	height: auto;
	width: auto;
	left: 5px;
}
.box2{
	padding: 5px;
	border: 1px solid;
	border-radius: 18px;
	font-size: 13px;
	position: relative;
	left: 4px;
	bottom: 4px;
	background-color: orange;
	width: auto;
	border-color: orange;
	color: white;

}

.tour__modified_3{
	display: flex;
	position: relative;
	bottom: 115px;
	left: 5px;
}
 @keyframes my { 
    0% { color: white; 
      background-color: blue;   } 
    50% { color: #fff; 
    background-color: red;  }
    100% { color: #F8CD0A;
      background-color: orange;} 
 } 

.box3{
	padding: 5px;
	border: 1px solid;
	border-radius: 18px;
	font-size: 13px;
	position: relative;
	left: 4px;
	bottom: 4px;
	background-color: orange;
	border-color: orange;
	animation: my 700ms infinite;
}

.tour__modified_4{
	display: flex;
	width: auto;
	margin-left: 10px;
	height: 17px;
}
.vote{
	display: flex;
	padding: 5px;
	border-right: 1px solid;
}

.tour_button{
	height: 40px;
	width: 170px;
	border-radius: 15px;
	background-color: orange;
	border-color: orange;
	font-size: 14px;
	color: white;
}
.tour_button:hover{
	cursor: pointer;
}

.owl-nav{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	right: 20px;
	bottom: 170px;

}
.owl-nav button span{
	font-size: 50px;	
	border-radius: 20px;
	border: 1px ;

}

.owl-nav span{
	color: tomato;	
}
.owl-dot span{
	background-color: #8bc9e2!important;
}
.owl-dot.active span{
	background-color: tomato!important;
}


.item img{
	width: 100px;
	height: 200px;
}

.nav_icon{
	font-size: 30px;
}

.owl-carousel:hover .nav_icon{
	opacity: 1;
	transition: 1s;
}

.nav_icon:hover{
	color: tomato!important;
}

/*địa điểm ăn*/
.food_root{
	background-color: #CAE5E8;
	width: 100%;
	height: 800px;
}

.food_container{
	width: 1100px;
	height: 780px;
	border: 1px solid;
	position: relative;
	left: 200px;
	background-color: #FFF;
	border-radius: 13px;
}


#one .owl-nav{
	position: relative;
	bottom: 200px;
	right: 30px;
}


.owl-nav{
	position: relative;
	bottom: 400px;
}

.owl-dots{
	position: relative;
	bottom: 70px;
}


.entertainment_root{
	background-color: #CAE5E8;
	width: 100%;
	height: 780px;
	position: relative;
	top: 10px;
}

/*===========================quan tâm============================*/
.care_root{
	background-color: #CAE5E8;
	width: 100%;
	height: 500px;
	position: relative;
	top: 40px;
}




/*====================footer=======================*/
@font-face {
    font-family: quicksan;
    src: url(font/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: quicksan-bold;
    src: url(font/Quicksand-SemiBold.ttf);
}
html{
    font-family: quicksan;
}
body{
    margin: 0 auto; 

}
.footer_section {
    padding-left: 20px;
    position: relative;
   
    z-index: 1;
  }


/*rate*/
.footer_rate {
    display: flex ;
    justify-content:space-around;
    font-size: 11px;
    width: 1000px;
    height: fit-content;
    align-items: flex-start;
    margin: auto;
}
.footer_rate div{
    flex: 1;
    max-width: 200px;
    text-align: center;
}
.footer_rate .footer_title{
    font-family: quicksan-bold;
}

/*floats*/
.nhapdeal{
    border-style: solid;
    border-width: 1px;
    border-radius: 13px;
    border-color: #b9b9b9;
    background-color:#FCFCFC;
    width: 71vw;
    height: 85px;
    position: relative;
    top: 2.4rem;
    margin:auto;
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    line-height: 1.5px;
    font-size: 15px;
    font-family: quicksan;
}
.nhapdeal img{
    float: left;
    margin-right: 0.3rem;
}
.nhapdeal .footer_title{
    font-family: quicksan-bold;
    font-size: 17px;
    color: rgb(22, 47, 92); 
}
.nhapdeal input{
    float:inline-end;
    width: 17vw;
    height: 30px;
    border-radius: 7px;
    border-width: 0.5px;
    border-color: #bbbaba;
    background-color: #F2F2F2;
    font-size: medium;
    font-family: quicksan;
    text-align:center;
    margin-left: 1rem;
}
.nhapdeal button{
    float: inline-end;
    height: 30.5px;
    width: 95px;
    font-size: 18px;
    font-family: quicksan-bold;
    color: white;
    background-color: #329cc9;
    border-color: #40B4E5;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

footer{
    background-color: #E9E8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 12px;
    justify-content: center;
    padding-top: 2rem;
    color: rgb(22, 47, 92);
   
   
}
footer .footer_title{
    font-family: quicksan-bold;
    font-size: 14.5px;
    color: rgb(22, 47, 92);
}
footer div{
    flex: 1;
}
footer div:nth-of-type(1)
{
    flex: 1.3;
}
footer div:nth-of-type(2), footer div:nth-of-type(3){
    padding-top: 3.7rem;
 }
footer .lienhe{
    display: flex;
    align-items: center;
}
.lienhe img{
    margin-right: 5px;
}
footer a{
    color: #2f96c2;
    text-decoration: none;
 }
 footer a img{
     margin-right: 0.5rem;
 }












